.game {
    width: 900px;
    border: 1px solid black;
    height: 90vh;
    margin: auto;
    margin-top: 20px;
}

.word-container{
    margin:auto;
    width:fit-content;
    display:flex;

}


.letter-container {
    font-size: 50px;
    text-transform: uppercase;
    border:3px solid gray;
    margin:3px 3px 3px 3px;
    height:100px;
    width:100px;
    text-align: center;
    padding-top: 10px;
  
    
}
.letter-filled{
    border-color: black;
    
}
.correct-place{
    border-color:green;
    
}
.not-correct-place{
    border-color: yellow;
}